
body {
    margin: 0;
    padding: 0;
  }
  .NavbarItems {
    background-color: rgb(223, 8, 8);
    margin: 0;
    padding: 0;
    height: 80px;
  }
  
  .NavbarItems h1 {
    color: white;
    padding: 10px;
    font-size: 25px;
  }
  .logo {
    width: 20%;
    float: left;
  }
  .navbar-ul {
    width: 80%;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0;
  }
  li {
    display: block;
    list-style: none;
    font-size: 18px;
    padding-left: 100px;
    line-height: 80px;
  }
  .li .tab{
    padding-left: 100px;

  }
  .nav-links {
    color: white;
    text-decoration: none;
  }
  .nav-links-mobile {
    color: white;
    text-decoration: none;
  }
  li:hover {
    background-color: rgb(231, 178, 98);
  }
